.card {
    border-radius: 25px;
}

.card-img-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-link {
    color: white
}

.nav-link:hover {
    color: dodgerblue
}

#url-link {
    justify-self: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px
}

.card-footer {
    text-align: center;
}